# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints

# IDE/editor settings
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db


# Logs and databases
*.log
*.csv
*.json